<div class="alert alert-dismissible alert-danger" *ngIf="mostrarError">
  <div class="text-center">
    <strong>{{ errormessage }}</strong>
  </div>
</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-lg-4">
      <img [src]="imgUrl" alt="" width="300px" height="300px" />
    </div>
    <div class="col-lg-6">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Obtener Clima"
        [(ngModel)]="ciudad"
      />
      <button
        class="btn btn-primary btn-lg btn-block mt-4"
        [disabled]="ciudad == ''"
        (click)="obtenerClima()"
      >
        Obtener Clima
      </button>
      <div class="text-center mt-3" *ngIf="loading">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div class="card mt-3" *ngIf="query">
        <p><b>Temperatura: </b>{{ temperatura | number : "1.2-2" }} ºC</p>
        <p><b>Humedad:</b>{{ humedad }}</p>
        <p><b>Clima:</b>{{ clima }}</p>
      </div>
    </div>
  </div>
</div>
